@import '../../../styles';

:host {
  >div {
    padding: 0 15px;
    margin: 50px 0;
  }
}

progress {
  width: 100%;
  margin: 20px 0;
}

.uploads {
  background-color: map-get($mat-grey, 100);
  padding: 30px 25px;
  border-radius: 4px;

  label {
    margin-right: 5px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .container:hover img {
    opacity: 0.3;
  }

  .container:hover .hover {
    opacity: 1;
  }

  .hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media (min-width:750px) {

  .inline {
    height: 800px !important;
  }
}
