:host {
  >div {
    padding: 0 15px;
    margin: 50px 0;
  }
}

progress {
  width: 100%;
  margin: 15px 0;
}

@media (min-width:750px) {

  .inline {
    height: 800px !important;
  }
}
