@import '../../../styles';

.header {
  background-color: mat-color($stennifer-primary, default);
}

.header-section {
  text-align: center;
  padding-top: 60px;
}

.headline {
  margin: 15px 0;

  h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 72px;
    line-height: 72px;
  }
}


h2 {
  font-family: 'Parisish';
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  margin: 15px 0 25px;
}

.hr {
  padding: 30px 60px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.header-start {
  text-align: center;
  padding: 30px 0 0 0;
}

.museum {
  background-color: #fff;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: black;
  }

  .images {
    display: block;
    height: 500px;
  }

  .info {
    margin: 40px 0 80px 0;

    h1 {
      font-family: 'Parisish';
      font-size: 60px;
      line-height: 60px;
    }

    p {
      font-size: 16px;
      margin: 10px 5px;
    }
  }
}
