@import '../../../styles';

a:link,
a:visited {
  color: mat-color($stennifer-accent, 700);
  text-decoration: none;
}

a:hover,
a:active {
  color: mat-color($stennifer-accent, 400);
}

.mat-toolbar {
  background: mat-color($stennifer-accent, 900);
  border-top: 2px solid #B48F4C;
}
