@import '../../../styles';

a:link,
a:visited {
  color: mat-color($stennifer-primary, 700);
  text-decoration: none;
}

a:hover,
a:active {
  color: mat-color($stennifer-primary, 400);
}

.mat-toolbar {
  background: mat-color($stennifer-primary, 300);
}
