<div fxLayout="row" fxLayoutAlign="center center" class="m-t-25">
  <div fxFlex="66" fxFlexOffset="17">
    <mat-card>
      <h3 class="mat-display-1">
        Current Guests
      </h3>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let user of users$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{user.displayName}}
            </mat-panel-title>
            <mat-panel-description>
              +1
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Bringing" disabled [(ngModel)]="user.email">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
