<div fxLayout="row" fxLayoutAlign="center center" class="m-t-25">
  <div fxFlex="66" fxFlexOffset="17">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Current Guests</mat-card-title>
      </mat-card-header>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let user of userProfiles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{user.displayName}}
            </mat-panel-title>
            <mat-panel-description>
              {{user.additional}} additionals
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Bringing" disabled [(ngModel)]="user.email">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
