<div fxLayout="row" fxLayoutAlign="center center" class="m-t-25">
  <div fxFlex="66" fxFlexOffset="17">
    <mat-card>
      <h3 class="mat-display-1">
        Current Guests
      </h3>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              John Doe
            </mat-panel-title>
            <mat-panel-description>
              +1
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Bringing" value="Sarah Doe">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Date" value="1/22/2019">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stewart Little
            </mat-panel-title>
            <mat-panel-description>
              +3
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Bringing" value="Sarah Doe">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Date" value="1/22/2019">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
