<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="lose-outline pointer heavy" [routerLink]="['/home']">Stennifer <span
        class="hide-xsmall">Wedding</span></span>
    <a mat-button [routerLink]="['/invitation']" class="m-l-5">
      <span class="mat-button-wrapper">
        <mat-icon aria-label="Contact">drafts</mat-icon>
        <span class="hide-small m-l-5">RSVP</span>
      </span>
    </a><a mat-button [routerLink]="['/accommodations']" class="m-l-5">
      <span class="mat-button-wrapper">
        <mat-icon aria-label="Contact">hotel</mat-icon>
        <span class="hide-small m-l-5">Accommodations</span>
      </span>
    </a><a mat-button [routerLink]="['/photos']" class="m-l-5">
      <span class="mat-button-wrapper">
        <mat-icon aria-label="Contact">photo_library</mat-icon>
        <span class="hide-small m-l-5">Photos</span>
      </span>
    </a>
    <a mat-button *ngIf="canEdit" [matMenuTriggerFor]="menu">
      <span class="mat-button-wrapper">
        <mat-icon aria-label="Guests">code</mat-icon>
        <span class="hide-small m-l-5">Admin</span>
      </span>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/admin/guests']">Guests</button>
      <button mat-menu-item [routerLink]="['/admin/users']" *ngIf="canDelete">Users</button>
      <button mat-menu-item [routerLink]="['/admin/photos']" *ngIf="canDelete">Photos</button>
    </mat-menu>
    <span class="spacer"></span>
    <span class="hide-small"><span *ngIf="auth.user$ | async; then accountBig else loginBig"></span></span>
    <span class="show-small"><span *ngIf="auth.user$ | async; then accountSmall else loginSmall"></span></span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loginBig>
  <a mat-button [routerLink]="['/account/login']">
    <span class="mat-button-wrapper">
      <span>Login</span>
    </span>
  </a>
</ng-template>
<ng-template #accountBig>
  <a mat-button [routerLink]="['/account']">
    <span class="mat-button-wrapper">
      <mat-icon aria-label="Contact">account_circle</mat-icon>
      <span class="m-l-5">Account</span>
    </span>
  </a>
</ng-template>

<ng-template #loginSmall>
  <a mat-button [routerLink]="['/account/login']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
</ng-template>
<ng-template #accountSmall>
  <a mat-button [routerLink]="['/account']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
