<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="lose-outline pointer" [routerLink]="['/home']">Stennifer Wedding</span>
    <a mat-button [routerLink]="['/invitation']" class="m-l-5">
      <span class="mat-button-wrapper">
        <mat-icon aria-label="Contact">drafts</mat-icon>
        <span class="hide-small m-l-5">Invitation</span>
      </span>
    </a>
    <a mat-button [routerLink]="['/guests']">
      <span class="mat-button-wrapper">
        <mat-icon aria-label="Guests">group</mat-icon>
        <span class="hide-small m-l-5">Guests</span>
      </span>
    </a>
    <span class="spacer"></span>
    <span class="hide-small"><span *ngIf="auth.user$ | async; then accountBig else loginBig"></span></span>
    <span class="show-small"><span *ngIf="auth.user$ | async; then accountSmall else loginSmall"></span></span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loginBig>
  <a mat-button [routerLink]="['/account/login']">
    <span class="mat-button-wrapper">
      <span>Login</span>
    </span>
  </a>
</ng-template>
<ng-template #accountBig>
  <a mat-button [routerLink]="['/account']">
    <span class="mat-button-wrapper">
      <mat-icon aria-label="Contact">account_circle</mat-icon>
      <span class="m-l-5">Account</span>
    </span>
  </a>
</ng-template>

<ng-template #loginSmall>
  <a mat-button [routerLink]="['/account/login']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
</ng-template>
<ng-template #accountSmall>
  <a mat-button [routerLink]="['/account']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
