<div>
  <mat-progress-bar *ngIf="userProfiles.length == 0" mode="query"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="center center" class="m-t-25">
    <div fxFlex="90" fxFlex.gt-xs="76" fxFlex.gt-md="60" fxFlexOffset="5" fxFlexOffset.gt-xs="12"
      fxFlexOffset.gt-md="15">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Current Guests</mat-card-title>
        </mat-card-header>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let user of userProfiles">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{user.displayName}}
              </mat-panel-title>
              <mat-panel-description>
                {{user.additional + user.additionalKids}} guests
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="5px">
              <mat-form-field fxFlex="40">
                <input matInput placeholder="Email" [(ngModel)]="user.email">
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Phone" [(ngModel)]="user.phoneNumber">
              </mat-form-field>
              <mat-form-field fxFlex="10">
                <input matInput placeholder="Children" [value]="user.additionalKids">
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <input matInput placeholder="Accepted" [value]="displayDate(user.acceptDate)">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
    <div fxFlex></div>
  </div>
</div>
