<div fxLayout="row" fxLayoutAlign="center stretch">
  <div fxFlex="90" fxFlex.gt-xs="80" fxFlex.gt-md="66" fxFlexOffset="5" fxFlexOffset.gt-xs="10" fxFlexOffset.gt-md="17">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="25px">
      <mat-card>
        <mat-card-title>Accommodations</mat-card-title>
        <mat-card-content>
          <p>We are so excited to celebrate with you! Here are our best picks for places to stay near all
            the action.</p>
          <p>
            We have the place to ourselves on a saturday night, and an open beer and wine bar. It might be a good night
            for booking a
            room in city and catching a ride to and from the event...</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Gaslight Bed & Breakfast
          <a href="https://gaslightbb.com" target="_blank">
            <mat-icon aria-label="go to hotel">exit_to_app</mat-icon>
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          Plush Hospitality in Clifton’s Historic Gaslight District
        </mat-card-subtitle>
        <mat-card-content>
          <img src="assets/gaslight-ext.jpg" />
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Hampton Inn & Suites Cincinnati/Uptown-University Area
          <a href="https://hamptoninn3.hilton.com/en/hotels/ohio/hampton-inn-and-suites-cincinnati-uptown-university-area-CVGUPHX/index.html"
            target="_blank">
            <mat-icon aria-label="go to hotel">exit_to_app</mat-icon>
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          You know what the Hampton Inn is like
        </mat-card-subtitle>
        <mat-card-content>
          <img src="https://images.trvl-media.com/hotels/3000000/2300000/2292900/2292832/7eed1ac5_z.jpg" />
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Fairfield Inn & Suites by Marriott Cincinnati Uptown/University Area
          <a href="https://www.marriott.com/hotels/maps/travel/CVGMT-fairfield-inn-and-suites-cincinnati-uptown-university-area/"
            target=" _blank">
            <mat-icon aria-label="go to hotel">exit_to_app</mat-icon>
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          You know what the Marriott is like too
        </mat-card-subtitle>
        <mat-card-content>
          <img src="https://cache.marriott.com/marriottassets/marriott/CVGMT/cvgmt-exterior-0025-hor-feat.jpg" />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex></div>
</div>
