:host {
  text-align: center;
  color: white;
  font-family: 'Covered By Your Grace', cursive;

  >div {
    width: 100%;
    padding-bottom: 40px;
    font-size: 40px;
    min-height: 260px;

    >div {
      line-height: 1;
    }
  }
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

.days {
  font-size: 200px;
  color: #db4844;
}

.hours {
  font-size: 150px;
  color: #f07c22;
}

.minutes {
  font-size: 100px;
  color: #f6da74;
}

.seconds {
  font-size: 50px;
  color: #abcd58;
}
