@import '../../../styles.scss';

:host {
  text-align: center;
  font-family: 'Fascinate Inline', cursive;

  >div {
    width: 100%;
    padding: 80px;
    font-size: 40px;
    min-height: 260px;

    >div {
      line-height: 1;
      padding: 0 5px;
    }
  }
}

span {
  display: block;
  font-family: 'Limelight', monospace;
  font-size: 25px;
  color: white;
  padding: 15px 0;
}

.days {
  font-size: 120px;
  color: mat-color($stennifer-accent, 800);
}

.hours {
  font-size: 120px;
  color: mat-color($stennifer-accent, 600);
}

.minutes {
  font-size: 120px;
  color: mat-color($stennifer-accent, 500);
}

.seconds {
  font-size: 120px;
  color: mat-color($stennifer-accent, 400);
}
