<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90" fxFlex.gt-xs="50" fxFlex.gt-md="30" fxFlexOffset="5" fxFlexOffset.gt-xs="25" fxFlexOffset.gt-md="35"
    fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Répondez s'il vous plaît</mat-card-title>
        <mat-card-subtitle>Your invitation</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p>Click the invitation to login. Once you've registered, be sure to let us know how many additional people
          you'd like to bring.</p>
      </mat-card-content>
    </mat-card>
    <img [routerLink]="['/account']" class="lose-outline pointer" src="assets/invite-min.png" style="width:100%;" />
  </div>
  <div fxFlex></div>
</div>
