@import '../../../styles';

:host>div {
  margin: 45px 0;
}

h1 {
  margin-bottom: 45px !important;
  color: mat-color($stennifer-accent, 100);
}

mat-card {
  width: 100%;
}

img {
  margin-bottom: 25px;
  padding: 1px;
  border: 2px solid mat-color($stennifer-primary, default);
  background-color: mat-color($stennifer-accent, 500);
}
