:host>div {
  margin: 45px 0;
}

mat-card {
  max-width: 600px;

  form {

    mat-card-content {
      padding: 0 16px;

      .mat-form-field {
        width: 100%;
      }

    }

    .or {
      line-height: 36px;
    }

    button {
      width: 90px;
    }
  }
}
