.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
}

.content {
  margin: 25px 0 50px 0;
}

footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
}
