@import '~@angular/material/theming';

:host>div {
  margin: 45px 0;
}

.mat-card-avatar .mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.photo {
  border-radius: 6px !important;
  width: 100%;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.mat-checkbox {
  text-align: center;
}

.form-container {
  background-color: map-get($mat-grey, 100);
  padding: 30px 25px;
  border-radius: 4px;
}

.phone {
  font-size: 20px;
  width: 100%;
  font-weight: 300;
  cursor: text;
  height: 30px;
  line-height: 30px;
  padding-left: 2px;
}

.phone-edit {
  font-size: 20px;
  width: 100%;
  font-weight: 300;
}
