$primary-colors: (50 : #f5f1e8,
100 : #e6dcc6,
200 : #d5c4a1,
300 : #c4ac7b,
400 : #b89b5e,
500 : #ab8942,
600 : #a4813c,
700 : #9a7633,
800 : #916c2b,
900 : #80591d,
A100 : #ffe3bc,
A200 : #ffcd89,
A400 : #ffb756,
A700 : #ffad3c,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$accent-colors: (50 : #e5e6e6,
100 : #bfc0c1,
200 : #949698,
300 : #696c6e,
400 : #494d4f,
500 : #292d30,
600 : #24282b,
700 : #1f2224,
800 : #191c1e,
900 : #0f1113,
A100 : #5991ff,
A200 : #266fff,
A400 : #0051f2,
A700 : #0048d9,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$background-color: #171D24;
