:host>div {
  margin-top: 45px;
}

form {

  mat-card-content {
    padding: 0 16px;

    .mat-form-field {
      width: 100%;
    }

  }

  .spacer {
    height: 20px;
  }

  button {
    width: 90px;
  }
}
