<div fxLayout="row" fxLayoutAlign="center stretch">
  <div fxFlex="90" fxFlex.gt-xs="80" fxFlex.gt-md="66" fxFlexOffset="5" fxFlexOffset.gt-xs="10" fxFlexOffset.gt-md="17">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Uploaded Photos</mat-card-title>
        <mat-card-subtitle>All photos uploaded by users</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px grid">
          <div *ngFor="let photo of photos$ | async" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
            <div class="container">
              <img [src]="photo.url" />
              <div class="hover"><img src="assets/goXU8.png" (click)="handleClick(photo)" /></div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
